body {
    background-color: #aaa;
}

canvas {
    background-color: #fff;
    border: 1px solid black;
    width: 640px;
    height: 480px;
}

#effectsMenu {
    border: 1px solid black;
    float: right;
}